@import url(../css/index.css);


body .banner {
    margin:0 0 4rem 0;
}

body .slide-wrapper {
    position: relative;
    max-width: 100vw;
    margin: 0 auto;
    box-shadow: var(--drop-shadow-carousel);
}

body .slider {
    display: flex;
    flex-direction: row;
    aspect-ratio: 14/10;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /* animation: slide 40s ease-in infinite; */
}


body .slider img {
    flex: 0 0 100%;
    scroll-snap-type: start;
    scroll-snap-align: start;
    object-fit: cover;
    object-position: center center;
    width:100%;
    height:100%;
}

body .slider-nav {
    display: flex; 
    justify-content:center;
    column-gap: 1rem;
    position: relative;
    z-index:1;
    margin: 1rem;
}

body .slider-nav a {
    width: 2rem;
    height: 0.25rem;
   border-radius: 4px;
   background-color: var(--primary-40);
}