@import url(../css/index.css);

/* CHECKOUT SUCCESS */

/* BANNER IMAGES */

.banner.checkout {
    flex-grow:inherit;
    flex-direction: column;
    align-items: center;
    justify-content:center; 
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
    height:25rem;
    width:25rem;
}

.trophy-img {
    width: 100%;
    height: 100%; 
    position: absolute;
    object-fit: cover;
    top: 5%;
    left: 0;
    margin:0;
    padding:0;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%; 
}
  

.section.checkout {
    flex-grow: inherit;
    margin: 0;
}

.button-container-checkout {
    width: 100%;
    max-width: 589px;
    height: 100%;
}

.button-wrapper-checkout {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%;
}

.title-section > h3 {
    line-height: 100%;
    font-weight: 800;
    word-wrap: break-word;
    white-space:normal ;
}

.title-section {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem 0;
}

.description-container p, span {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.description-container {
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    align-items: center;
    justify-content: center;
}

.description-container > #caption-L {
    display: flex;
    align-items: center;
    margin:1rem;
    text-align: center;
}

.accordion-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    width: 100%;
}


.text-container-top {
    display: flex;
    flex-direction: row;
}

.green-text {
    color: #258503;
}

.content-container#checkout {
    
    margin:2rem 1rem;
    width:auto;
    display: flex;
    flex-direction:column;
    gap: 1rem;
    justify-content:center;
    align-items: center;
}

/* ORDER SUMMARY SECTION */

.order-summary-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:auto;
}


/* CHECKOUT PAGE */


    /* SECTIONS */  
    

.cart {
    margin:0;
    padding: 1rem;
}

.container-cart-page {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: auto;
}

.cart-card-container {
    flex:1;
    margin: 1rem auto;
    padding:1rem;
    width:100%;
}

.top-section-cart-container {
    flex-grow:inherit;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding:1rem 2rem;
    background-color: var(--primary-color);
    color: var(--UI-white);
}

.main-content-cart-container {
    flex: 1 1 auto;
    align-items: flex-start;
    flex-direction:column;
    padding:1rem;
    background-color: var(--UI-white);
}

.image-description {
    display: flex;
    flex-direction: row;
}

.game-img-container.cart {
    flex: 0 0 auto;
    margin: 0 1rem;
    padding: 0;
}

.description-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-cart-description-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


    /* TEXT */

.caption-S.ship-to-home::before {
    content: ":";
}

.caption-S.ship-to-home {
    color: var(--UI-white);
}

.cart-title {
    font-weight: 700;
}

.caption-S.cart-title::before {
    content:"|";
    padding:0.25rem;
}

.centered-container {
    display: flex;
    gap:0.25rem;
    align-items: center;
    color: var(--secondary-color);
}

.green-text.radio::before, .green-text.radio::after {
    content: "";
    padding: 0.25rem;

}

    /* BUTTON */

.button-container-cart {
    display: flex;
    height: 44px;
    width:fit-content;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--UI-white);
    border-radius: 8px;
    border: 2px solid var(--primary-color, #1B203D);
    margin:1rem 0;
    cursor: pointer;
}

.icon-button {
    display: flex;
    align-items: center;
}

.center-section-container {
    display: flex;
    padding: 4px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid #D0CFFC;
}

    /* RADIO BUTTON GROUP */

.radio-button-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    margin:1rem 1rem 2rem 1rem;
}

.radio-container {
    display: flex;
    flex: row;
    align-items: flex-start;
    gap: 16px;
}

/* ACCORDION BUTTON */
    