@import url(../css/index.css);


/* SECTIONS */

.form-container {
    display:flex;
    flex-wrap: wrap;
    justify-items: flex-start;
    display:block;
    max-width:32rem;
    min-width: auto;
    height:auto;

}

fieldset {
    border:0;
    padding: 0.5rem 0;
}

input, textarea, #subtopic, #maintopic {
    border: var(--gray-20) 2px solid;
    border-radius: 0.25rem;
    padding: 1rem 1.5rem;
    margin:0.5rem 0;
    width:100%;
    text-wrap:wrap;
}

textarea {
    height: 202px;
    width:100%;
    resize:none;
}


.contact-title-section {
    padding: 0 0 2rem 0 ;
}

/* TITLE */

#contact-title {
    padding:0.5rem 0;
    font-weight: 700;
}

#caption-L {
    color: var(--secondary-color,#6269AD);
    font-size: 1rem;
    font-weight: 400;
}

/* TEXT STYLES */

.required::before {
    content: "*";
}

.form-container label {
    font-size: 1rem;
    color: var(--main-text-color:#212121;);
    font-style: normal;
}

#uppercase {
    text-transform: uppercase;
    font-weight:900;
    color: var(--primary-color, #1B203D);
}

.placeholder-style::placeholder {
    font-weight: 400;
    color: #6269AD;
}

#maintopic.placeholder-style, #subtopic.placeholder-style {
    font-weight: 400;
    color: #6269AD;
}



