@import url(/css/index.css);
@import url(/css/styles.css);


.dropdown-menu {
    position: relative;
}

.dropdown-menu nav {
    position: absolute;
    background: var(--UI-white);
    width: 375px;
    height: auto;
}

.nav-container {
    padding: 2rem
}

.dropdown-title {
    display:flex;
    align-items: center;
    justify-items: space-between;
    width:100%;
    font-size: 1.25rem;
    font-weight: bolder;
    color: var(main-text-color);
    padding: 1rem 0 1rem 0;
}

.dropdown-title-menu {
    display:flex;
    justify-content:space-between;
    align-items: flex-start;
    width:375px;
    padding:0.5rem 0 0.5rem 0;
    box-shadow: 0px 2px 2px 0px rgba(160, 163, 231, 0.50);
}

.dropdown-section li {
    display:block;
    list-style:none;
    margin:none;
    padding: 0.5rem 0 0.5rem 0;
}

.dropdown-console li a {
    margin:0;
    font-size:16px;
    font-weight: medium;
    color: var(--secondary-color);
    
}





/* nav {
    position:fixed;
}

.container {
    max-width: 1920;
    margin:auto;
    width:100%;
    background-color: #fff;

}

header {
    position:relative;
    top:0;
    left:0;
    width:100%;
}

.logo img {
    width: 90px;
    height: auto;
} */

/*Mobile*/

/* nav,
#menu-checkbox {
    display:none;
}

#menu-checkbox:checked ~ nav {
    display:block;
}

nav a {
    display:block;
    text-decoration: none;
    color:#212121
}

@media (min-width: 600px) {
    nav {
        display:block;
        position:static;
    }
    .hamburger-icon {
        display:none;
    }
    nav a {
        display:inline;
    }
} */


