@import url(/css/index.css);
@import url(/css/styles.css);

/* Top section */

footer .footer-top-container {
    display: flex;
    padding: 1.5rem 1rem;
    align-items: center;
    gap: 0.5rem;
    background: var(--primary-color, #1B203D);
}

