@import url(/css/index.css);
@import url(/css/styles.css);

/* Top section */

footer .footer-top-container {
    display: flex;
    padding: 1.5rem 1rem;
    align-items: center;
    gap: 0.5rem;
    background: var(--primary-color, #1B203D);
}

/* Logo */

footer .footer-logo {
    display: flex;
    min-width: 7rem;
    max-width: 7rem;
    margin-bottom: 1rem;
}

footer .footer-logo img {
    width:100%;
}


/* Social Media Icons */

footer .footer-social-media-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Bottom Section */

footer .footer-links-section {
    display: flex;
    padding: 1.5rem 1rem;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    align-self: stretch;
}


