@import url(/css/dropdown-nav.css);
@import url(/css/styles.css);

*,*:before,*:after{
    box-sizing:inherit
}

*{
    padding:0;
    margin:0;
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

@font-face {
    font-family: Inter;
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto&display=swap');
    padding: 0;
    margin: 0;
}


:root {
    /*Colors*/
    --primary-color: #1B203D;
    --secondary-color: #6269AD;
    --background-color:#F3F2FF;
    --main-text-color:#212121;
    --UI-white: #fff;
}

    /*Fonts*/

    /*Spacing*/


