@import url(../css/index.css);

/* PRODUCT BG */
.product-image[data-category="forgelegend"] {
    --category-bg: url(/assets/images/product-images/GameHub_forgelegends.jpg);
}

.product-image[data-category="assasin"] {
    --category-bg: url(/assets/images/product-images/GameHub_assasin.jpg);
}

.product-image[data-category="pingpong"] {
    --category-bg: url(/assets/images/product-images/GameHub_pingpong.jpg);
}

.product-image[data-category="racing"] {
    --category-bg: url(/assets/images/product-images/GameHub_racing.jpg);
}

.product-image[data-category="boxer"] {
    --category-bg: url(/assets/images/product-images/GameHub_boxer.jpg);
}

.product-image[data-category="superduper"] {
    --category-bg: url(/assets/images/product-images/GameHub_superduper.jpg);
}

.product-image[data-category="black"] {
    --category-bg: url(/assets/images/product-images/GameHub_black.jpg);
}

.product-image[data-category="cyberpunk"] {
    --category-bg: url(/assets/images/product-images/GameHub_cyberpunk.jpg);
}

.product-image[data-category="spacewars"] {
    --category-bg: url(/assets/images/product-images/GameHub_spacewar.jpg);
}

.product-image[data-category="furious"] {
    --category-bg: url(/assets/images/product-images/GameHub_furious.jpg);
}

/* PRODUCT BG */

/* PRODUCT CARD */


body .product-card-container {
    display: flex;
    width: 230px;
    height: 533px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0.5rem;
    border: 1px solid #D9DCE5;
    background: var(--UI-white,#fff);
    box-shadow: 0px 2px 3px 0px rgba(160, 163, 231, 0.50);
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box;
}

body .product-card-detail {
    display: flex;
    flex-direction: column;
    flex: 1;
}

body .product-card-image {
    display: flex;
    max-height:326px;
    max-width:230px;
    flex-shrink:0;
}

body .product-image {
    display:flex;
    background-image: var(--category-bg,none);
    background-size: cover;
    background-position:center;
    min-height:326px;
    width:230px;
}

body .product-card-body {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.5rem;
    flex:1;
    align-self: stretch;
}

body .product-card-header > .product-card-title {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.25rem;
    font-weight: 600;
}

body .product-card-hashtags > .hashtags {
    font-size: 1rem;
    color: var(--secondary-color, #6269AD);
}

body .product-card-price {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width:100%;
}

body .product-card-price > .original-price {
    text-decoration:line-through;
    color: var(----secondary-color,#6269AD);
}

body .product-card-price > .sale-price {
    font-weight: bold;
    font-size: 1.25rem;
}

/* HORIZONTAL SCROLL */

.media-scroller {
    display:grid;
    gap: 1rem;
    grid-auto-flow:column;

    overflow-x: auto;
    overscroll-behavior-inline: contain;

}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem;
}

.snaps-inline > * {
    scroll-snap-align: start;
}

/* PRODUCT CARD */


/* PRODUCTS PAGE */

.breadcrumb-item + .breadcrumb-item :before {
    content:"/"; 
}

.breadcrumb-item {
    display: inline-block;
}

.breadcrumb {
    list-style: none;
}

.breadcrumb a {
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondary-color)
}

.filter-results {
    text-align: center;
    line-height: 2em;
}

.buttons-wrapper-products-page {
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
}

.product-image img {
    height: auto;
    width: 90px;
}

/* BUTTONS */

.button-container .btn-secondary {
    display:flex;
    align-items: center;
    margin: 0.25rem;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    border:2px solid var(--primary-color);
    background-color: var(--UI-white);

    /* font */
    color: var(--primary-color,#1B203D);
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

/* PRODUCTS GRID */ 

.media-wrapper-products {
    display:grid;
    gap: 1rem;
    grid-auto-flow:row;
    height: 100vh;
    width: 100vh;

    /* overflow-x: auto;
    overscroll-behavior-inline: contain; */

}


/* GAME LIST PAGE */

    /* SECTIONS */

.page-button-wrapper {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin:3rem 1rem 3rem 1rem;
}

.product-list-content-container {
    padding: 0.5rem;
}

.product-list-page {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
}

.product-list {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.buttons-wrapper-products-list {
    margin: 1rem 0 0.5rem 0;
}

.game-list-wrapper-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 0.5rem; 
    width:100%;
    justify-content: center;
    align-content: center;
}

    /* BUTTONS */

.center-section-container.page {
    box-shadow: var(--drop-shadow-card);
    cursor: pointer;
}

.center-section-container.selected {
    border: 2px solid;
}

    /* TEXT */
.title-all-games {
    margin:0;
    padding:0;
}

/* FORGE LEGENDS */


    /* SECTIONS */
.section-S {
    margin:1rem 0;
}

.individual-game-card-container {
    display:flex;
    flex-direction: column;
    border-radius: 0.25rem;
    margin:0;
    background-color: var(--UI-white);
    height:auto;
}

.forge-legends-margin-container {
    padding: 1rem;
}

.title-section-description-right {
    margin:0.5rem;
    padding:0.5rem;
}

.product-description-container {
    margin-top:2rem;
    padding:2rem 0;
    border-top: 1px solid #d1d5df;
    border-bottom: 1px solid #d1d5df;
}

.game-card-description-button-group {
    margin:0.5rem;
    padding:0.5rem;
}

.shipping-button-square-group {
    display: grid;
    grid-template-columns: 1fr;
    gap:0.5rem;
}

.shipping-buttons-square-wrapper {
    display: flex;
    flex-direction: column;
    gap:1rem;
    margin: 1rem 0 1rem 0;
}

.review-button-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin:1rem 0;
}

.section-S-review {
    margin:1rem;
}

.review-card-section {
    margin:2rem 0;
}

.standard-delxue-buttons {
    display: flex;
    gap:0.5rem;

}

    /* BUTTONS */

.icon-button-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
}

.btn-cta.long.product {
    width:auto;
    padding:1rem 5rem;
}

#secondary {
    border: 2px solid var(--primary-color);
    background-color: var(--UI-white);
    color: var(--primary-color);
    padding: 0.8rem 4.8rem;
}

.button-container-cart.disabled {
    border: 2px solid #8B8E96;
}


.shipping-button-square-container {
    display: flex;
    min-height: 108px;
    max-height: 144px;
    min-width: 97px;
    max-width: 144px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    cursor:pointer;

    margin:0;
    padding:1rem;

    border-radius: 12px;
    border: 1px solid #e3e5eb;
    background-color: var(--UI-white, #FEFEFE);
    box-shadow: var(--drop-shadow-card);

}

.shipping-button-square-container.selected {
    border-radius: 12px;
    border: 2px solid var(--primary-color, #1B203D);
    background-color: var(--UI-white, #FEFEFE);
    box-shadow: var(--drop-shadow-card);
}


.review-card-container {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    padding:1rem;
    margin:1rem 0;

    border-radius: 0.5rem;
    background: var(--white90, #FEFEFE);
    box-shadow: 0px 0px 4px 0px #A0A3E7;

}

.review-card-top-section {
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    width:100%;
    margin-bottom: 1rem;
}

.review-card-content {
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    margin-bottom: 2rem;
}

    /* TEXT */



.bold-paragraph {
    font-weight: 600;
    font-size: 1.5rem;
}

.p-small {
    font-size: 1rem;
    color: #303133;
}

.game-card-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.game-card-title.bold {
    font-weight: 700;
    font-size: 1.25rem;
}

.paragraph-description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    padding:0.5rem 2rem 0.5rem 1rem;
}

.grey-caption {
    color: #8B8E96;
}
.review-group-stars {
    margin:0 1rem;
}

.title-description-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
}

.title-description-subtitle-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.uppercase-L {
    font-size: 3rem;
    padding-right:0.5rem;
}

.uppercase-L.bold {
    font-weight: 700;

}

.caption-XS.bold {
    font-weight: 900;
    text-transform: uppercase;
    padding:0 0.25rem 0 0;
}
    /* IMG */

.game-card-image-container {
    display: flex;
    height: 200px;
    width:100%;
    align-items: center;
    justify-content: center;
    gap: 8px;
    align-self: stretch;
    overflow: hidden;
    background-image: url('../assets/images/product-images/GameHub_forgelegends.jpg');
    background-size: cover; 
    background-position: center 45%; 
    background-repeat: no-repeat;
}

.profile-img {
    display: flex;
    height: 100px;
    width:100px;
    align-items: center;
    gap: 8px;
    border-radius: 50%;
    align-self: stretch;
    overflow: hidden;
    background-image: url('../assets/images/product-images/GameHub_forgelegends.jpg');
    background-size: cover; 
    background-position: center 45%; 
    background-repeat: no-repeat;
}
