
/* Game Image Styling */

.game-list {
    display: inline;
}

.game-image {
    width: 363px;
    height: auto;
    border-radius: 12px;
}

/*Contact Us*/

/*Form*/
form {
    display:block;
    width:500px;
}

label, input, textarea {
    display:block;
    width:100%;
    margin-bottom:10px;
}

fieldset {
    margin:0 auto;
}

.form-container{
    width: 1306px;
}

/*Products Page*/

.breadcrumb-item + .breadcrumb-item :before {
    content:"/"; 
}

.breadcrumb-item {
    display: inline-block;
}

.breadcrumb {
    list-style: none;
}

.filter-results {
    text-align: center;
    line-height: 2em;
}

.buttons-inline {
    display:inline;
    padding:24px;
    padding-left:0;
}

.product-image img {
    height: auto;
    width: 90px;
}