@font-face {
    font-family: Inter ;
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto&display=swap');
    padding: 0;
    margin: 0;
}


:root {
    /*Colors*/
    --primary-color: #1B203D;
    --secondary-color: #6269AD;
    --background-color:#F3F2FF;
    --main-text-color:#212121;

    /*Fonts*/

    /*Spacing*/
}

body {
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    color: var(--main-text-color);
    background-color: var(--background-color);
}

/* Nav */

nav {
    position:absolute;
}

.container {
    max-width: 1920;
    margin:auto;
    width:100%;
    background-color: #fff;

}

header {
    position:relative;
    top:0;
    left:0;
    width:100%;
}

.logo img {
    width: 90px;
    height: auto;
}

/*Mobile*/

nav,
#menu-checkbox {
    display:none;
}

#menu-checkbox:checked ~ nav {
    display:block;
}

nav a {
    display:block;
    text-decoration: none;
    color:#212121
}

@media (min-width: 600px) {
    nav {
        display:block;
        position:static;
    }
    .hamburger-icon {
        display:none;
    }
    nav a {
        display:inline;
    }
}

/* Game Image Styling */

.game-list {
    display: inline;
}

.game-image {
    width: 363px;
    height: auto;
    border-radius: 12px;
}

/*Contact Us*/

/*Form*/
form {
    display:block;
    width:500px;
}

label, input, textarea {
    display:block;
    width:100%;
    margin-bottom:10px;
}

fieldset {
    margin:0 auto;
}

.form-container{
    width: 1306px;
}

/*Products Page*/

.breadcrumb-item + .breadcrumb-item :before {
    content:"/"; 
}

.breadcrumb-item {
    display: inline-block;
}

.breadcrumb {
    list-style: none;
}

.filter-results {
    text-align: center;
    line-height: 2em;
}

.buttons-inline {
    display:inline;
    padding:24px;
    padding-left:0;
}

.product-image img {
    height: auto;
    width: 90px;
}